.SignupContainer{
    padding-top: 40px;
      background: rgb(250, 250, 250);
      height: 100%;
  }
  .form-control{
    border: none !important;
    /* background-color: gray !important; */
    background-color: rgb(250, 250, 250) !important;
    padding: 12px !important;
  }
  .form-control:focus{
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
  }
  .Signup-card{
    line-height: 45px !important;
      width: 100%;
    max-width: 800px !important;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  }
  .SignupBtn{
    padding: 12px;
    margin-top: 20px;
      width: 100%;
    border-radius: 10px;
    background-color: rgb(221, 153, 51) !important;
    font-weight: bold;
    border: none;
  }