.SignupContainer {
  padding-top: 40px;
  /* background: rgb(250, 250, 250); */
  background-color: black !important;
  height: 100%;
}
.form-control {
  border: none !important;
  /* background-color: gray !important; */
  
  padding: 12px !important;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
.Signup-card {
  line-height: 45px !important;
  width: 100%;
  /* max-width: 800px !important; */
  margin: 0 auto;
  padding: 20px;
  /* border-radius: 10px; */
  background-color: rgb(13, 13, 13);
  color: white !important;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.SignupBtn {
  padding: 12px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  /* background-color: rgb(221, 153, 51) !important; */
  background-color: #06b906 !important;
  font-weight: bold;
  border: none;
}
/* this is for the Registration Side Bar */
.sidebar {
  height: 100vh;
  overflow-y: scroll;
  z-index: 1;
  position: fixed;
  top: 0;
  right: -500px;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: rgb(13, 13, 13);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}
.close-sidebar-Login {
  position: absolute;
  top: 0px;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.anchorforgot{
  color: blue !important;
}
