.ThanskBanner-main-div {
  background-image: url(../Images/Thankss);
  background-size: cover;
  background-repeat: repeat-x;
  background-position-y: center;
}
.ThanskBanner-main-div-back {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 500px;
}

.ThanskBanner-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.ThanskBanner-main-heading,
.ThanskBanner-main-paragraph {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.5s forwards; /* Apply animation */
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0); /* Stay fixed at the top */
  }
}
